<div class="container-md">
    <div class="d-flex justify-content-between flex-wrap">
        <h5>Summary</h5>
        <xng-breadcrumb></xng-breadcrumb>
    </div>
</div>


<!-- <form [formGroup]="taskForm">
    <app-reactive-input formControlName="name"> </app-reactive-input>
</form> -->
<!-- [nameFormControl]="'email'"
[validatorsKeyValue]="[{key: 'required', value: 'Field is required.'},
                      {key: 'email', value: 'email format required.'},
                      {key: 'minlength', value: 'Minimum password length is 6.'}]"
[readonly]="false"
[label]="'Email Addres'"
[type]="'email'" -->