<ng-container *ngIf="themeForm">
    <form [formGroup]="themeForm" class="d-flex ms-auto">
        <div dropdown btnRadioGroup formControlName="theme" class="btn-group d-block d-sm-inline-block">
            <button dropdownToggle type="button" class="btn btn-link dropdown-toggle nav-link text-white d-flex align-items-center" tooltip="User Menu" container="body" #pop="bs-tooltip">
                <i [ngClass]="currentTheme"></i>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                <li role="menuitem">
                    <button btnRadio="light" class="dropdown-item d-flex justify-content-center gap-1">
                        <i class="bi bi-brightness-high-fill"></i>
                        <span> Light mode</span>
                    </button>
                </li>
                <li role="menuitem">
                    <button btnRadio="dark" class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-moon-stars-fill"> Dark mode</i>
                    </button>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <button btnRadio="auto" class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-arrow-left-right"> Auto mode</i>
                    </button>
                </li>
            </ul>
        </div>
    </form>
</ng-container>




<!-- <ng-container *ngIf="themeForm">
            <button dropdownToggle type="button" class="btn nav-link btn-primary dropdown-toggle" tooltip="Toggle theme" container="body" #pop="bs-tooltip">
                <i [ngClass]="currentTheme"></i>
            </button>
            <ul *dropdownMenu class="dropdown-menu " role="menu">
                <li role="menuitem">
                    <button class="dropdown-item d-flex justify-content-center gap-1">
                        <i class="bi bi-brightness-high-fill"></i>
                        <span> Light mode</span>
                    </button>
                </li>
                <li role="menuitem">
                    <button  class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-moon-stars-fill"> Dark mode</i>
                    </button>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <button  class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-arrow-left-right"> Auto mode</i>
                    </button>
                </li>
            </ul>
</ng-container> -->



<!-- <ng-container *ngIf="themeForm">
    <form [formGroup]="themeForm" class="d-flex ms-auto me-3">
        <div dropdown btnRadioGroup formControlName="theme">
            <button dropdownToggle type="button" class="btn nav-link btn-primary dropdown-toggle" tooltip="Toggle theme" container="body" #pop="bs-tooltip">
                <i [ngClass]="currentTheme"></i>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-end" role="menu">
                <li role="menuitem">
                    <button btnRadio="light" class="dropdown-item d-flex justify-content-center gap-1">
                        <i class="bi bi-brightness-high-fill"></i>
                        <span> Light mode</span>
                    </button>
                </li>
                <li role="menuitem">
                    <button btnRadio="dark" class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-moon-stars-fill"> Dark mode</i>
                    </button>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <button btnRadio="auto" class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-arrow-left-right"> Auto mode</i>
                    </button>
                </li>
            </ul>
        </div>
    </form>
</ng-container> -->