<div
  class="dropdown d-inline-block"
  dropdown
  (isOpenChange)="onOpenChange($event)"
>
  <button
    type="button"
    class="btn btn-link rounded-circle nav-link dropdown-toggle d-flex align-items-center"
    dropdownToggle
    container="body"
    tooltip="User Menu"
    container="body"
    [class.active]="isNotificationPanelOpen"
  >
      <img
        alt="UserPhoto"
        [src]="profilePictureUrl"
        class="rounded-circle"
        style="height: 35px; width: 35px"
      />
    <small class="d-md-none ms-2">User Menu</small>
  </button>

  <ul *dropdownMenu class="dropdown-menu dropdown-menu-end mt-1" role="menu">
    <p class="text-muted p-1 text-center m-0 mb-1 small">
      <small class="d-block">User Menu</small>
      <small class="d-block">{{ email }}</small>
    </p>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <button class="dropdown-item" type="button" (click)="logout()">
        <i class="bi bi-box-arrow-right me-1"></i>
        Sign out
      </button>
    </li>
  </ul>
</div>
