<div class="container-fluid pt-5 pe-5 ps-5 overflow-auto">
  <div class="container-fluid mb-1" style="min-width: 300px">
    <div class="d-block d-sm-flex justify-content-between">
      <h1 class="flex-grow-1">Projects</h1>
      <div class="m-auto">
        <button type="button" class="btn btn-primary" (click)="createProject()">
          <i class="fa-solid fa-folder-plus"></i> Create project
        </button>
      </div>
    </div>

    <div class="input-group input-group-sm w-25 mb-2 mt-4">
      <span class="input-group-text"
        ><i class="fa-solid fa-magnifying-glass fa-sm"></i
      ></span>
      <input
        type="text"
        [formControl]="searchProjects"
        class="form-control"
        placeholder="Search..."
      />
      <button
        class="btn btn-outline-secondary btn-sm"
        type="button"
        (click)="searchProjects.reset()"
      >
        <i class="fa-solid fa-x fa-sm"></i>
      </button>
    </div>

    <ejs-grid
      #grid
      [dataSource]="service.projects$ | async"
      [allowPaging]="true"
      [allowSorting]="true"
      [allowFiltering]="false"
      [allowGrouping]="false"
      [pageSettings]="pageSettings"
      [editSettings]="editSettings"
      (dataStateChange)="dataStateChange($event)"
      (dataSourceChanged)="dataSourceChanged($event)"
      [toolbar]="toolbar"
    >
      <e-columns>
        <e-column headerText="Name" width="150">
          <ng-template #template let-data>
            <!-- <a [routerLink]="data.name"> -->
            <a [routerLink]="data.id" type="button" class="d-flex flex-row">
              <div class="image me-2">
                <img
                  class="rounded"
                  src="{{ data.iconUrl }}"
                  width="30px"
                  height="30px"
                  alt="Project icon"
                />
              </div>
              <div class="my-auto">
                {{ data.name }}
              </div>
            </a>
            <!-- </a> -->
          </ng-template>
        </e-column>
        <e-column headerText="Lead" width="150">
          <ng-template #template let-data>
            <ng-container *ngIf="data.projectMembers | findLeader as leader">
              <div class="d-flex flex-row">
                <div class="image me-2">
                  <img
                    class="rounded-circle border border-2"
                    [src]="
                      leader?.photoUrl ?? 'assets/images/Sample_User_Icon.png'
                    "
                    width="30px"
                    height="30px"
                    alt="Leader photo"
                  />
                </div>
                <div class="my-auto">
                  {{ leader.userEmail }}
                </div>
              </div>
            </ng-container>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
