<div class="container-fluid pt-5 pe-5 ps-5 overflow-auto">
    <div class="container-fluid  mb-1" style="min-width: 300px;">
        <div class="d-block d-sm-flex justify-content-between">
            
            <h1 class="flex-grow-1">Projects</h1>
            <div class="m-auto">
                <button type="button" class="btn btn-primary">
                Create project
                </button>
            </div>
        </div>

        <!-- style="height: 40px;" [dataSource]='data' -->

        <div class="input-group input-group-sm mt-2 mt-sm-4  rounded-circle w-25">
            <span class="input-group-text rounded-start"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" formControlName="searchNewUsers" class="form-control rounded-end" placeholder="Search...">
        </div>

        <ejs-grid [dataSource]='data | async' [allowPaging]="true" [allowSorting]="true" [allowSorting]='true'
        [allowFiltering]="true" [allowGrouping]="true" [pageSettings]='pageSettings' (dataStateChange)= 'dataStateChange($event)'>
         <e-columns>
             <e-column field='OrderID' headerText='Order ID' textAlign='Right' width=90></e-column>
             <e-column field='CustomerID' headerText='Customer ID' width=120></e-column>
             <e-column field='Freight' headerText='Freight' textAlign='Right' format='C2' width=90></e-column>
             <e-column field='OrderDate' headerText='Order Date' textAlign='Right' format='yMd' width=120></e-column>
         </e-columns>
         </ejs-grid>

    </div>
</div>
