<ng-container *ngIf="control">
    <!-- <div class="d-flex ms-auto"> -->
        <div dropdown btnRadioGroup [formControl]="control" class="d-flex flex-column dropdown" 
            (isOpenChange)="onOpenChange($event)"> 
            <button dropdownToggle type="button" class="btn dropdown-toggle d-flex justify-content-center align-items-center focus-ring" [class.active]="isStatusPanelOpen">
                <i *ngIf="currentValue?.iconClass" [class]="currentValue?.iconClass"></i>
                <span *ngIf="currentValue" >{{currentValue.text}}</span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-end mt-1" role="menu">
                
                <li *ngFor="let item of (map | keyvalue) " role="menuitem">
                    <button [btnRadio]="item.key" class="dropdown-item d-flex gap-1">
                        <i *ngIf="item.value.iconClass" [class]="item.value.iconClass"></i>
                        <span>{{item.value.text}}</span>
                    </button>
                </li>

                <!-- <li *ngFor="let item of map " role="menuitem">
                    <ng-container *ngTemplateOutlet="selectButtonTemplate ?? selectButtonDefaultTemplate;context:{ $implicit: item }"></ng-container>
                </li>
                <ng-template #selectButtonDefaultTemplate let-item>
                    <button [btnRadio]="item.key" class="dropdown-item d-flex gap-1">
                        <i *ngIf="item.value.iconClass" [class]="item.value.iconClass"></i>
                        <span>{{item.value.text}}</span>
                    </button>
                </ng-template> -->
            
                <!-- <li role="menuitem">
                    <button [btnRadio]="statuses.ToDo" class="dropdown-item d-flex justify-content-center gap-1">
                        <i class="bi bi-brightness-high-fill"></i>
                        <span>ToDo</span>
                    </button>
                </li>
                <li role="menuitem">
                    <button [btnRadio]="statuses.InProgress" class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-moon-stars-fill"> Dark mode</i>
                        <span>InProgress</span>
                    </button>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <button [btnRadio]="statuses.Done" class="dropdown-item d-flex justify-content-center gap-1" type="button">
                        <i class="bi bi-arrow-left-right"> Auto mode</i>
                        <span>Done</span>
                    </button>
                </li> -->
            </ul>
        </div>
    <!-- </div> -->
</ng-container>
