<div class="h-100 d-flex">
    <form id="resetForm" class="text-center form " [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)" style="width:330px; margin: auto; ">
        <div  class="alert alert-danger" role="alert" *ngIf="resetForm.errors?.['serverError']">
          {{ resetForm.errors?.['serverError']}}
        </div>
        <h3 class=" mb-2 fw-normal">Reset Password</h3>
        <span class="mb-3 fw-normal">To reset your password, please provide your email.</span>
        
          <div>
            <app-input-custom
            class="form"
            [formGroup]="resetForm"
            [nameFormControl]="'email'"
            [validatorsKeyValue]="[{key: 'required', value: 'Field is required.'},
                                  {key: 'email', value: 'email format required.'},
                                  {key: 'minlength', value: 'Minimum password length is 6.'}]"
            [readonly]="false"
            [label]="'Email Addres'"
            [type]="'email'"
            > 
            </app-input-custom>
          </div>

        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Send Reset Instructions</button>
        <p class="mt-3 mb-3 text-muted">
          <a href="#" class="link-primary" routerLink="../register">Don't have a Workflow account? Sign up now!</a>
        </p>
        <p class="mt-2 mb-3 text-muted">
          &copy; 
          <a href="https://www.linkedin.com/in/konrad-dzięcioł-235a8523a" class="link-primary"><i class="fa-brands fa-linkedin"></i></a> 
        </p>
    </form>
</div>