<h2 class="accordion-header">
    <button class="accordion-button " type="button" [class.collapsed]="isCollapsedAccordionMyChats" (click)="isCollapsedAccordionMyChats = !isCollapsedAccordionMyChats">
      <h6 class="p-0 m-0">My chats</h6>
      <i class="bi bi-wechat ms-1" style="font-size: 1.1rem" 
        [class.text-success]="(onlineUsers$| async)?.length"  
      ></i>
    </button>
  </h2>
  <div class="accordion-collapse overflow-auto "
   [ngbCollapse]="isCollapsedAccordionMyChats" *ngIf="friendsWithActivityStatus$ | async as friendsWithActivityStatus"
   [infiniteScrollDistance]="2"
   [infiniteScrollThrottle]="500"
   (scrolled)="loadMore()"
   infiniteScroll
   [scrollWindow]="false"
   
   >
    <div class="accordion-body p-0">
      <div class="input-group input-group-sm sticky-top">
        <span class="input-group-text rounded-0">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" [formControl]="searchUsersFormControl" class="form-control rounded-0"
          placeholder="Search..." />
      </div>
      <ng-container *ngIf="friendsWithActivityStatus.length; else noFriends">
        <div *ngFor="let friend of friendsWithActivityStatus; let i = index" (click)="onFriendSelected(friend)"type="button" class="border border-1 friend-card">
          <div class="d-flex flex-row justify-content-start">
            <div class="me-2 p-1">
                <img [src]="friend.photoUrl" class="img-fluid rounded-circle border border-1" width="40" height="40" style="min-width: 40px;" *ngIf="friend.photoUrl !== undefined; else noProfilePhoto" />
                <ng-template #noProfilePhoto>
                  <i class="bi bi-person-bounding-box"></i>
                </ng-template>
            </div>
            <div class="flex-grow-1 d-flex align-items-center overflow-hidden">
              <div class="text-truncate">{{ friend.email }}</div>
            </div>
            <div class="d-flex align-items-center justify-content-center me-3" *ngIf="friend.isOnline">
              <div class="spinner-grow text-success spinner-grow-sm" container="body" tooltip="User is online!"
                role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="d-flex align-items-center me-2">
              <button type="button" class="btn-close" container="body" tooltip="Remove friend." (click)="stopPropagation($event);declineAcceptedFriendInvitation(friend)"
              >
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noFriends >
        <div class="p-2 text-center">
          There are no contacts, use search to find friends.
        </div>
      </ng-template>
    </div>
  </div>
