<div
  #notificationsPanel
  class="border border-1 rounded z-3  notifications-panel  overflow-hidden  position-absolute d-flex flex-column bg-body-tertiary"
  style="right: 15px;  ;max-height: calc(100% - 90px); width: 325px; "
>
  <div class=" p-1  overflow-auto ">
    <div *ngFor="let notification of notifications$ | async">
      <!-- {{notification|json}} -->
      <app-notification-card
        [notification]="notification"
      ></app-notification-card>
    </div>
    <div class="text-center" *ngIf="(notifications$ | async)?.length === 0">
      No notifications.
    </div>
  </div>
</div>
