button.btn-bare {
  &:hover {
    transition: transform 500ms ease-out /*, opacity 200ms ease-out*/;
    transform: scale(1.2, 1.2);
    opacity: 0.9;
  }
  &:focus {
    box-shadow: 0 0 0 3px var(--bs-primary);
  }
  &:active {
    transform: scale(1.4, 1.4);
  }
}