<div class="modal-header">
  <h5 class="modal-title">Choose an icon</h5>
  <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
  <div class="d-flex flex-wrap justify-content-between row-gap-2">
    <ng-container *ngFor="let icon of icons$ | async">
      <button
        class="image-container btn-bare rounded overflow-hidden"
        style="height: 84px; width: 84px"
        (click)="selectedIcon = icon"
      >
        <img
          [src]="icon.url"
          (load)="onImageLoad($event)"
          [alt]="icon.name"
          class="img-fluid"
        />
      </button>
    </ng-container>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
    Cancel
  </button>
  <button
    type="button"
    [disabled]="!selectedIcon"
    class="btn btn-primary"
    (click)="select()"
  >
    select
  </button>
</div>
