<div class="dropdown d-inline-block" dropdown (isOpenChange)="onOpenChange($event)" [autoClose]="false">
    <button type="button" class="btn btn-link rounded-circle nav-link dropdown-toggle d-flex align-items-center"
        dropdownToggle tooltip="Notifications" container="body" #pop="bs-tooltip"
        [class.active]="isNotificationPanelExpanded">
        <span class="position-relative">
            <i class="bi bi-bell-fill "></i>
            <ng-container *ngIf="unreadNotificationsLength$ | async as unreadNotificationsLength">
                <span *ngIf="unreadNotificationsLength !== 0" 
                      class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger"
                      tooltip="Unread notifications"
                      container="body"
                      (mouseenter)="pop.hide()"
                      >
                  {{unreadNotificationsLength}}
                </span>
            </ng-container>
        </span>
        <small class="d-md-none ms-2">Notifications</small>
    </button>

    <ul *dropdownMenu class="dropdown-menu dropdown-menu-end mt-1" role="menu" style="width: 300px;">
        <p class="text-muted p-1 text-center m-0 small">
            <small >Notifications Menu {{curentNotificationsCount$|async}} / {{allNotificationsCount$|async}}</small>
        </p>
        <!-- {{(notifications$ | async)|json}} -->
        <!-- <ng-container *ngIf="(notifications$ | async) as notifications; else noNotifications">
            <ng-container *ngIf="notifications.length; else noNotifications">
                {{(notifications| async)|json}} -->
                <li role="menuitem" class="w-100">
                    {{notifications$ |async |json }}
                </li>
                <li *ngFor="let notification of notifications$ | async" role="menuitem" class="w-100">
                    <app-notification-card [notification]="notification" class="w-100"></app-notification-card>
                </li>
            <!-- </ng-container>
        </ng-container> -->
        
        <ng-template #noNotifications>
            <p class="text-muted p-1 text-center m-0 small">
                <small>You don't have any notifications.</small>
            </p>
        </ng-template>
    </ul>
</div>

    <!-- <div *ngFor="let notification of notifications$ | async">
      <app-notification-card
        [notification]="notification"
      ></app-notification-card>
    </div> -->
    <!-- <div class="text-center" *ngIf="(notifications$ | async)?.length === 0">
      No notifications.
    </div> -->

<!-- <button class="position-relative nav-link" #notificationsPanelNutton
    (click)="isNotificationPanelExpanded = !isNotificationPanelExpanded" type="button" tooltip="Notifications"
    container="body" #pop="bs-tooltip">
    <i class="bi bi-bell-fill"></i>
    <span *ngIf="(notificationsLength$|async) !== 0"
        class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger">
        {{notificationsLength$|async}}
        <span class="visually-hidden">unread messages</span>
    </span>
    <small class="d-md-none ms-2">Notifications</small>
</button>

<app-notifications-panel 
*ngIf="isNotificationPanelExpanded" 
[buttonReference]="notificationsPanelNutton" 
(isNotificationsPanelExpanded)="isNotificationPanelExpanded=$event">
</app-notifications-panel>
 -->