.movable-element{
    transition: 0.8s;
} 
.sidenavClose{
    margin-left:-200px;
}
.open-arrow{
    left: 185px;
}
.close-arrow{
    left: -13px;
    transform: rotate(-180deg);
}
.content-open{
    margin-left: 200px;
}
.content-close{
    margin-left: 0;
}