.close-arrow {
  left: -13px !important;
  transform: rotate(-180deg);
}

@media (max-width: 768px) {
  :not(.offcanvas) > .collapse.show {
    display: none;
  }
  :not(.offcanvas) > .collapsing {
    display: none;
  }
  .arrow-container {
    top: 20px !important;
  }
}

.nav-pills {
  .nav-link {
    transition: all 0.1s linear;
    &.active {
      border-left: 4px solid var(--bs-primary-border-subtle);
      background-color: var(--bs-primary-bg-subtle);
      color: var(--bs-primary-text-emphasis);
    }
    &:hover {
      background-color: var(--bs-primary-bg-subtle);
    }
  }
}
