<div class="container-fluid side-panel-container position-relative g-0">
  <div class="row flex-nowrap h-100 g-0">
    <ng-container *ngTemplateOutlet="sideBar"></ng-container>
    <div class="col overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="arrow-container default-transition rounded-circle position-absolute" type="button"
    (click)="changeStateSideNav()" [class.close-arrow]="(sidenavState$ | async) === false"
    style="top: 75px; left: 185px; z-index: 1100" >
    <i class="bi bi-arrow-left-circle-fill" style="font-size: 1.7rem;"></i>
  </div>
</div>

<ng-template #sideBar>
  <div class="col-auto sidebar-width border-end h-100" [ngbCollapse]="(sidenavState$ | async) === false"
    [horizontal]="true">
    <!-- <div style="width:200px"> -->
      <div class="d-flex flex-column flex-shrink-0 p-3 h-100 overflow-auto sidebar-width ">
        <div class="d-flex flex-row">
          <img class="me-2 rounded" [src]="(project$ | async)?.iconUrl" [alt]="(project$ | async)?.name" width="30"
            height="30" />
          <div class="my-auto">
            <h6 class="mt-1 user-select-none text-body-emphasis">
              {{ (project$ | async)?.name }}
            </h6>
          </div>
        </div>
        <hr />
        <nav class="nav nav-pills d-flex flex-column">
          <a class="nav-link link-body-emphasis text-truncate" routerLinkActive="active" [routerLink]="['tasks/list']">
            <i class="bi bi-list-check"></i> List
          </a>
          <a class="nav-link link-body-emphasis text-truncate" routerLinkActive="active" [routerLink]="['settings']">
            <i class="bi bi-gear"></i> Settings
          </a>
        </nav>
      <!-- </div> -->
  </div>
  </div>
</ng-template>