
<div class="h-100 d-flex">
    <form id="loginForm" class="text-center form " [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" style="width:330px; margin: auto; ">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div>
            <app-input-custom
            class="form"
            [formGroup]="loginForm"
            [nameFormControl]="'email'"
            [validatorsKeyValue]="[{key: 'required', value: 'Field is required.'},
                                  {key: 'email', value: 'email format required.'},
                                  {key: 'minlength', value: 'Minimum password length is 6.'}]"
            [readonly]="false"
            [label]="'Email Addres'"
            [type]="'email'"
            > 
            </app-input-custom>
            <app-input-custom
            [formGroup]="loginForm"
            [nameFormControl]="'password'"
            [validatorsKeyValue]="[ {key: 'required', value: 'Field is required.'},
                                    {key: 'minlength', value: 'Minimum password length is 6.'}]"
            [readonly]="false"
            [label]="'Password'"
            [type]="'password'"
            >
            </app-input-custom>
          </div>
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">
          &copy; 
          <a href="https://www.linkedin.com/in/konrad-dzięcioł-235a8523a" class="link-primary"><!-- <fa-icon [icon]="faLinkedin"></fa-icon>--></a> 
        </p>
    </form>
</div>
<button class="w-100 btn btn-lg btn-primary mt-3" routerLink="/home" type="submit">homepage</button>



