



<!-- //was-validated !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

<div [formGroup]="formGroup" [class.form-floating]="formFloating">
    <label *ngIf="!formFloating" [for]="nameFormControl" class="form-label">{{label}}</label>
    <input [type]="type" 
        [id]="nameFormControl"
        [readonly]="readonly"
        class="form-control"
        [placeholder]="label"
        [formControlName]="nameFormControl" 
        [class.is-valid]="formGroup.get(nameFormControl)?.valid && (formGroup.get(nameFormControl)?.dirty || formGroup.get(nameFormControl)?.touched) && !readonly"
        [class.is-invalid]="formGroup.get(nameFormControl)?.invalid && (formGroup.get(nameFormControl)?.dirty || formGroup.get(nameFormControl)?.touched) && !readonly" />
        <label *ngIf="formFloating" [for]="nameFormControl">{{label}}</label>
    <ng-container  *ngIf="formGroup.get(nameFormControl)?.invalid &&(formGroup.get(nameFormControl)?.dirty || formGroup.get(nameFormControl)?.touched) "> 
        <div *ngFor="let validator of validatorsKeyValue" class="invalid-feedback m-2">
            <span *ngIf="formGroup.controls[nameFormControl]?.errors?.[validator.key]">
                {{validator.value}}
            </span>
        </div>
    </ng-container>
</div>

<!-- <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
</div> -->

<!-- <div class="input-group has-validation mb-3">
    <span class="input-group-text">@</span>
    <div [formGroup]="formGroup" class="form-floating"
    [class.is-invalid]="formGroup.get(nameFormControl)?.invalid && (formGroup.get(nameFormControl)?.dirty || formGroup.get(nameFormControl)?.touched) && !readonly"
    >
    <input [type]="type" 
        [id]="nameFormControl"
        [readonly]="readonly"
        class="form-control"
        [placeholder]="label"
        [formControlName]="nameFormControl" 
        [class.is-valid]="formGroup.get(nameFormControl)?.valid && (formGroup.get(nameFormControl)?.dirty || formGroup.get(nameFormControl)?.touched) && !readonly"
        [class.is-invalid]="formGroup.get(nameFormControl)?.invalid && (formGroup.get(nameFormControl)?.dirty || formGroup.get(nameFormControl)?.touched) && !readonly" />
        <label [for]="nameFormControl">{{label}}</label>
    </div>
    <div class="invalid-feedback">
        <ng-container *ngIf="formGroup.get(nameFormControl)?.invalid &&(formGroup.get(nameFormControl)?.dirty || formGroup.get(nameFormControl)?.touched) "> 
            <div *ngFor="let validator of validatorsKeyValue" >
                <span *ngIf="formGroup.controls[nameFormControl]?.errors?.[validator.key]">
                    {{validator.value}}
                </span>
            </div>
        </ng-container>
    </div>
</div> -->