.me{
    .speech-bubble{
        border-radius: 10px 0 0 10px;
    }
    .fa-eye{
        visibility:hidden;
    }
    &.end {
        .speech-bubble{
            border-bottom-right-radius: 10px; 
        }
    }
    &.start {
        .speech-bubble{
            border-top-right-radius: 10px;
        }
    }
    &.last-read{
        .fa-eye{
            visibility:visible;
        }
    }
}
.him{
    .speech-bubble{
        border-radius: 0 10px 10px 0;
    }
    &.end {
        .speech-bubble{
            border-bottom-left-radius: 10px; 
        }
    }
    &.start {
        .speech-bubble{
            border-top-left-radius: 10px;
        }
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(16, 224, 9, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 15px rgba(16, 224, 9, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(16, 224, 9, 0);
	}
}

.is-wathing{
    //box-shadow: 0 0 0 0 rgb(16, 224, 9);
	//transform: scale(1);
    animation: pulse 1s linear infinite;
}


// @keyframes fa-blink {
//     0% {opacity: 1;}
//     100% {opacity: 0.4;}
// }

// .is-online {
//     animation: fa-blink 1.5s linear infinite;
//     //color: rgb(1, 189, 42);
// }