<!-- <ng-container *ngIf="taskForm"> -->
    <div class="modal-header">
        <h5 class="modal-title" >Add Project Member</h5>
        <button type="button" class="btn-close" (click)="selfBsModalRef.hide()"></button>
    </div>
    <div class="modal-body">
        <!-- <form [formGroup]="taskForm"> -->
            <!-- start -->
            <!-- <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input type="text" [formControl]="searchMember" class="form-control" placeholder="Search...">
            </div> -->
            <app-reactive-input 
            [formControl]="searchMember" 
            [formFloating]="false"
            [placeholder]="'e.g. email@gmail.com...'"
            [validatorsKeyValue]="[{key: 'required', value: 'Field is required.'}]"
            [label]="'Email'" 
        > 
        </app-reactive-input>  
            <!-- {{searchNewUsers$ |async|json}} -->
            <div *ngFor="let searchUser of searchedMember$ |async" class="border border-1 ">
                <div class="d-flex flex-row justify-content-start">
                    <div class="me-2" >
                        <div class="p-1"  style="width: 40px; height: 40px;">
                            <img [src]="searchUser?.photoUrl ?? 'assets/images/Sample_User_Icon.png'" class="img-fluid rounded-circle border border-1" alt="...">
                        </div>
                    </div>
                    <div class="flex-grow-1 d-flex align-items-center overflow-hidden ">
                        <div class="text-truncate">{{searchUser.email}}</div>
                    </div>
                    <div class="d-flex align-items-center me-2" >
                    </div>
                        <ng-template [ngIf]="searchUser.status===memberStatusTypes.Uninvited">
                            <button (click)="sendInvitation(searchUser)" type="button" class="btn btn-outline-success btn-sm" container="body" tooltip="Add member" >
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </ng-template>                                      
                        <ng-template [ngIf]="searchUser.status===memberStatusTypes.Invited">
                            <span class="loader" container="body" tooltip="Waiting for confirmation."></span>
                        </ng-template>
                        <ng-template [ngIf]="searchUser.status===memberStatusTypes.Member">
                            <button  type="text" class="btn btn-outline-success btn-sm" container="body" tooltip="Member" >
                                <i class="fa-solid fa-user-check"></i>
                            </button>
                        </ng-template>
                </div>
            </div>
            <!-- end -->
        <!-- </form> -->
    </div>
    <!-- <div class="modal-footer">
        <div *ngIf="taskForm.errors?.['checkDateOrder']" class="invalid-feedback d-block w-auto me-auto">Date order is not correct</div>
        <div *ngIf="taskForm.errors?.['serverError']" class="invalid-feedback d-block w-auto me-auto">{{taskForm.errors?.['serverError']}}</div>
        <button type="button" class="btn btn-secondary" (click)="selfBsModalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="sendInvitation()">Add</button>
    </div> -->
<!-- </ng-container> -->


