<div class="container-fluid" id="messages-container">
    <div class="row h-100">
        <div class="col-4 border border-end-0 ">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="col-8 border d-flex flex-column ">
            <div class="h-100 bg-success">
                dfg
            </div>
            <div class="h-100 bg-warning">
                dsf
            </div>
        </div>
    </div>
</div>
