<div class="row g-0 messages-container">
  <div class="col-12 col-sm-4 border-bottom h-100">
    <div class="accordion accordion-flush h-100 flex-column d-flex">
      <app-accordion-find-people class="accordion-item d-flex flex-column overflow-auto" style="min-height:56px;"></app-accordion-find-people>
      <app-accordion-my-chats class="accordion-item d-flex flex-column overflow-auto" style="min-height:56px;"></app-accordion-my-chats>
      <app-accordion-invitations class="accordion-item d-flex flex-column overflow-auto" style="min-height:56px;"></app-accordion-invitations>
    </div>
  </div>
  <div class="col-12 col-sm-8 d-flex flex-column border border-end-0 border-top-0 h-100">
    <div class="h-100">
      <app-chat
        *ngIf="this.chatService.chatRecipient$ | async as chatRecipient"
        [chatRecipient]="chatRecipient"
      ></app-chat>
    </div>
  </div>
</div>
