<div class="container-fluid pt-5 pe-5 ps-5 pb-5 overflow-auto h-100">
    <div class="row g-0">
        <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
            <div class="input-group input-group-sm mb-2 mt-4">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass fa-sm"></i></span>
                <input type="text" [formControl]="searchProjects" class="form-control" placeholder="Search..." />
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="searchProjects.reset()">
                    <i class="fa-solid fa-x fa-sm"></i>
                </button>
            </div>
        </div>
    </div>
    
    <div class="border rounded-top" style="max-height: 75%; overflow: auto; min-height: 170px">
        <ejs-grid #grid [dataSource]="service.projects$ | async" [allowResizing]="true" [allowPaging]="true"
            [allowSorting]="true" [allowFiltering]="false" [allowGrouping]="false" [pageSettings]="pageSettings"
            [editSettings]="editSettings" (dataStateChange)="dataStateChange($event)"
            (dataSourceChanged)="dataSourceChanged($event)" [toolbar]="toolbar">
            <e-columns>
                <e-column headerText="Name" width="150">
                    <ng-template #template let-data>
                        <a [routerLink]="data.name">
                            <div type="button" class="d-flex flex-row">
                                <div class="image me-2">
                                    <img class="rounded" src="{{ data.iconUrl }}" width="30px" height="30px"
                                        alt="Project icon" />
                                </div>
                                <div class="my-auto">
                                    {{ data.name }}
                                </div>
                            </div>
                        </a>
                    </ng-template>
                </e-column>
                <e-column headerText="Lead" width="150">
                    <ng-template #template let-data>
                        <div class="d-flex flex-row">
                            <div class="image me-2">
                                <img class="rounded-circle border border-2"
                                    src="{{ (data.projectMembers | findLeader)?.photoUrl }}" width="30px" height="30px"
                                    alt="Leader photo" />
                            </div>
                            <div class="my-auto">
                                {{ (data.projectMembers | findLeader)?.userEmail }}
                            </div>
                        </div>
                    </ng-template>
                </e-column>
            </e-columns>
        </ejs-grid>
    </div>

    <div class="row g-0">
        <button type="button" class="btn btn-outline-secondary border rounded-0 rounded-bottom text-start">
            <i class="fa-solid fa-plus me-1"></i>
            Create
        </button>
    </div>
</div>