<div class="container-fluid pt-5 pe-5 ps-5 pb-5 overflow-auto h-100">
    <div class="row g-0">
        <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
            <div class="input-group input-group-sm mb-2 mt-4">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass fa-sm"></i></span>
                <input type="text" [formControl]="searchProjects" class="form-control" placeholder="Search..." />
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="searchProjects.reset()">
                    <i class="fa-solid fa-x fa-sm"></i>
                </button>
            </div>
        </div>
    </div>
    
    <div class="border rounded-top" style="max-height: 75%; overflow: auto; min-height: 170px">
        <ejs-grid #grid [dataSource]="tasksService.tasks$ | async" [allowResizing]="true" [allowPaging]="true"
            [allowSorting]="true" [allowFiltering]="false" [allowGrouping]="false" [pageSettings]="pageSettings"
            [editSettings]="editSettings" (dataStateChange)="dataStateChange($event)"
            (dataSourceChanged)="dataSourceChanged($event)" [toolbar]="toolbar">
            <e-columns>
                
                <e-column field='name' headerText="Name">
                </e-column>

                <e-column field='description' headerText="description"> 
                </e-column>

                <e-column field='projectId' headerText="ProjectId"> 
                </e-column>

                <e-column field='priority' headerText="Priority"> 
                </e-column>
                
                <e-column field='state' headerText="State"> 
                </e-column>           
                
                <e-column field='dueDate' headerText="DueDate"> 
                </e-column>

                <e-column field='startDate' headerText="StartDate"> 
                </e-column>

                <e-column field='taskLeaderId' headerText="TaskLeaderId"> 
                    <!-- <ng-template #template let-data>
                        <img [src]="'https://flags.fmcdn.net/data/flags/mini/' + data.Country.toLowerCase() + '.png'">
                        <span> {{data.Country}}</span>
                    </ng-template> -->
                </e-column>
            </e-columns>
        </ejs-grid>
    </div>

    <div class="row g-0">
        <button (click)="createTask()" type="button" class="btn btn-outline-secondary border rounded-0 rounded-bottom text-start">
            <i class="fa-solid fa-plus me-1"></i>
            Create
        </button>
    </div>
</div>