/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins'; //??

// @import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
// @import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
// @import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
// @import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
// @import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
// @import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
// @import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

html,
body {
    height: 100%;
}

#loginForm{
    .form-floating:focus-within {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
#registerForm {
    .form-floating:focus-within {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"]:not([id="repeatedPassword"]) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[id="repeatedPassword"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media only screen and (max-width: 992px) { 
    #messages-container { 
        height: calc(100% - 56px);
    }  
}
@media only screen and (min-width: 992px) { 
    .navbar { 
        height: 62px;
    }  
    #messages-container { 
        height: calc(100% - 62px);
    }  
}
@media only screen and (max-width: 576px) { 
    #messages-container { 
        height: calc(200% - 62px);
    }  
}
#messages-container{
    accordion{
        height: 100%;
        display: flex !important;
        flex-direction: column;
        .panel-open{
             min-height: 0;
            .panel{
                height: 100%;
                .show{
                    flex-grow: 1;
                     min-height: 0;
                    .panel-body{
                        overflow: auto;
                        height: 100%;
                    }
                }
            }
        }
        .panel-body{
            padding: 0;
        }
    }
    .accordion-toggle[aria-expanded="true"]{
        div:after {
            content: "\f107" !important;
            font: normal normal normal 14px/1 FontAwesome !important;
        }
    }
    .accordion-toggle[aria-expanded="false"]{
        div:after {
            content: "\f106" !important;
            font: normal normal normal 14px/1 FontAwesome !important;
        }
    }
}

@include media-breakpoint-down(lg) {
    .notifications-panel{
        width: 100% !important;
        left: 0 !important;
    }
  }


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
     //box-shadow: inset 0 0 5px grey; 
    //border-radius: 10px;
    // border: 1px solid;
    // border-left: 0;
    // border-top: 0;
    // border-color: var(--bs-border-color);
    background-color: rgba(var(--bs-tertiary-bg-rgb));
    //z-index: -1;
    // border-radius: var(--bs-border-radius);
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    //background-color: rgba(var(--bs-secondary-bg-rgb))!important;
    ///  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
    //border-radius: var(--bs-border-radius);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(101, 101, 101); 
  }

// ::-webkit-scrollbar-track {
//   //background-color: var(--bs-body-bg);
//   //background-color: none;
//   z-index: -100;
//   //border-radius: var(--bs-border-radius);
//   border-radius: 0;
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
//   //overflow: hidden;
// //   clip-path: inset(8% 20% 21% 19%);
//   z-index: 0;
// }

// #messages-container{
//     .accordion-toggle[aria-expanded="true"]:after {
//         content: "\f107" !important;
//         font: normal normal normal 14px/1 FontAwesome !important;
//     }
    
//     .accordion-toggle[aria-expanded="false"]:after {
//         content: '\f106' !important;
//         font: normal normal normal 14px/1 FontAwesome !important;
//     }
// }

.btn-bare{
    background: none;
    color: inherit;
    border: none;
    padding: 0px;
    font: inherit;
}
