/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
}

#registerForm , #loginForm{
    .form-floating:focus-within {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
