/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
}

#loginForm{
    .form-floating:focus-within {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
#registerForm {
    .form-floating:focus-within {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"]:not([id="repeatedPassword"]) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[id="repeatedPassword"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media only screen and (max-width: 992px) { 
    #messages-container { 
        height: calc(100% - 56px);
    }  
}
@media only screen and (min-width: 992px) { 
    .navbar { 
        height: 62px;
    }  
    #messages-container { 
        height: calc(100% - 62px);
    }  
}
@media only screen and (max-width: 576px) { 
    #messages-container { 
        height: calc(200% - 62px);
    }  
}
#messages-container{
    accordion{
        height: 100%;
        display: flex !important;
        flex-direction: column;
        .panel-open{
             min-height: 0;
            .panel{
                height: 100%;
                .show{
                    flex-grow: 1;
                     min-height: 0;
                    .panel-body{
                        overflow: auto;
                        height: 100%;
                    }
                }
            }
        }
        .panel-body{
            padding: 0;
        }
    }
    .accordion-toggle[aria-expanded="true"]{
        div:after {
            content: "\f107" !important;
            font: normal normal normal 14px/1 FontAwesome !important;
        }
    }
    .accordion-toggle[aria-expanded="false"]{
        div:after {
            content: "\f106" !important;
            font: normal normal normal 14px/1 FontAwesome !important;
        }
    }
}



// #messages-container{
//     .accordion-toggle[aria-expanded="true"]:after {
//         content: "\f107" !important;
//         font: normal normal normal 14px/1 FontAwesome !important;
//     }
    
//     .accordion-toggle[aria-expanded="false"]:after {
//         content: '\f106' !important;
//         font: normal normal normal 14px/1 FontAwesome !important;
//     }
// }


